<h2 mat-dialog-title>Agenda de Clase</h2>

<mat-dialog-content class="mat-typography">
    <h3>Aca va a ir la info de la agenda, y veremos podemos poner otros datos, como inputs y eso</h3>
    <p>Learn one way to build applications with Angular and reuse your code and abilities to build
        apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>

    <h3>Speed &amp; Performance</h3>
    <p>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web
        Workers and server-side rendering. Angular puts you in control over scalability. Meet huge
        data requirements by building data models on RxJS, Immutable.js or another push-model.</p>

    <h1 mat-dialog-title>Hi {{data.name}}</h1>

    <p>What's your favorite animal?</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Reservar</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->