<mat-toolbar color="primary">
    <h2 mat-dialog-title>Seleccionar Instructor</h2>
</mat-toolbar>



<mat-dialog-content class="mat-typography">


    <mat-form-field class="full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-mini-fab color="primary" [mat-dialog-close]="row">
                        <mat-icon> check</mat-icon>
                    </button>
                </td>
            </ng-container>


            <!-- Progress Column -->
            <ng-container matColumnDef="EscInsNom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.EscInsNom}} </td>
            </ng-container>


            <!-- Color Column -->
            <ng-container matColumnDef="EscInsId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                <td mat-cell *matCellDef="let row"> {{row.EscInsId}} </td>
            </ng-container>


            <!-- Color Column -->
            <ng-container matColumnDef="EscInsTel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                <td mat-cell *matCellDef="let row"> {{row.EscInsTel}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>