<mat-nav-list>
    <div *ngIf="!pegar">
        <a mat-list-item (click)="openLink($event, 'abrir-clase')">
            <span mat-line>Abrir Clase</span>
        </a>

        <a mat-list-item (click)="openLink($event, 'copiar-clase')">
            <span mat-line>Copiar Clase</span>
        </a>

        <a mat-list-item (click)="openLink($event, 'mover-clase')">
            <span mat-line>Mover Clase</span>
        </a>


        <a mat-list-item (click)="openLink($event, 'liberar-clase')">
            <span mat-line>Liberar Clase</span>
        </a>

    </div>
    <div *ngIf="pegar">
        <a mat-list-item (click)="openLink($event, 'pegar-clase')" *ngIf="pegar">
            <span mat-line>Pegar Clase</span>
        </a>
        <a mat-list-item (click)="openLink($event, 'cancelar')" *ngIf="pegar">
            <span mat-line>Cancelar</span>
        </a>
    </div>


</mat-nav-list>