.contenedor {
  padding: 24px;
}

.full-width {
  width: 100%;
  padding-bottom: 10px;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.align-right {
  margin-left: auto !important;
}

.col button,
.col a {
  margin-right: 8px;
}

.btns-agendar {
  margin: 20px 0;
}

mat-divider {
  margin: 10px 0;
}
